#проигнорировать файлы находящиеся в каталоге tmp
tmp/
#игноририровать файлы с суффиксом old
*old
#игнорировать файлы с суффиксом backup
*backup
#игнорировать файлы Thumbs.db
Thumbs.db
#игнорировать файлы .DS_Store
.DS_Store